@import "../common/styles/vars";

.work-layout section {
  text-align: left;

  .grid {
    grid-template-areas: "text image";
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 60px;
    grid-row-gap: 0;

    @media #{$screen-md} {
      grid-template-columns: 1fr 1fr;
    }

    @media #{$screen-sm} {
      display: block;
    }

    &.half-half {
      grid-template-columns: 1fr 1fr;
    }

    &__title {
      grid-column: span 2;
      margin-left: 0;
    }

    &__item {
      img {
        @media #{$screen-sm} {
          margin-top: 40px;
        }
      }
    }
  }

  &:nth-child(odd):not(.next-steps):not(.single-page__header) {
    .grid:not(.half-half) {
      grid-template-areas: "image text";

      @media #{$screen-lg-min} {
        grid-template-columns: 2fr 1fr;
      }
    }
  }

  &.method__steps {
    img {
      margin-bottom: 20px;

      @media #{$screen-md-min} {
        max-width: 310px;
        float: left;
        margin-right: 30px;
      }
    }
  }
}
