@import "../common/styles/vars";

.method-layout section {
  text-align: left;

  .grid {
    grid-template-areas: "text image";
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 60px;
    grid-row-gap: 0;

    @media #{$screen-medium} {
      grid-template-columns: 1fr 1fr;
    }

    @media #{$screen-small} {
      display: block;
    }

    &.half-half {
      grid-template-columns: 1fr 1fr;
    }

    &__title {
      grid-column: span 2;
      margin-left: 0;
    }

    &__item {
      img {
        @media #{$screen-small} {
          margin-top: 40px;
        }
      }
    }
  }

  &:nth-child(odd):not(.next-steps) {
    .grid:not(.half-half) {
      grid-template-areas: "image text";

      @media #{$screen-medium-min} {
        grid-template-columns: 2fr 1fr;
      }
    }
  }
}
