@import "../common/styles/vars";

#what-i-do {
  img {
    max-height: 150px;
    max-width: 250px;
    display: block;
    margin: 0 auto 50px;

    @media #{$screen-md} {
      margin-bottom: 20px;
    }

    @media #{$screen-sm} {
      max-height: 90px;
      max-width: 110px;
    }
  }

  .grid {
    grid-column-gap: 80px;

    @media #{$screen-md} {
      display: block;
    }
  }

  .grid__item {
    @media #{$screen-md} {
      margin: 0 auto 40px;
      max-width: 600px;
    }
  }

  h3 {
    position: relative;
    display: inline-block;
  }
}
