@import "../common/styles/vars";

#experience {
  text-align: left;
}

.experience-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
}

.experience-item {
  grid-template-columns: 2fr 4fr;

  @media #{$screen-sm} {
    display: block;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $color-grey-light;

    @media #{$screen-sm} {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
  }
}
.experience-item__date {
  @media #{$screen-sm} {
    display: inline-block;
  }
  @media #{$screen-xs} {
    display: block;
  }
}

.experience-item__company {
  line-height: 1;
  position: relative;
  display: inline-block;
  margin-bottom: 0.1em;

  @media #{$screen-sm} {
    display: inline-block;
    font-size: $font-size-md;
    opacity: 0.8;

    &:before {
      content: "|";
      margin-right: 10px;
      margin-left: 10px;
      color: $color-grey-light;
      border: none;
    }
  }

  @media #{$screen-xs} {
    &:before {
      content: none;
    }
  }
}

.experience-item__position {
  line-height: 1;
  margin-bottom: 0.2em;
  position: relative;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: 0.5em;

  @media #{$screen-sm} {
    font-size: $font-size-sm;
    margin-bottom: 1em;
  }
}

.experience-item__duties {
  font-size: $font-size-sm;

  @media #{$screen-md} {
    font-size: $font-size-xs;
  }
}
