$color-primary: #2c8ab6;
$color-primary-light: lighten($color-primary, 45%);
$color-primary-dark: darken($color-primary, 35%);
// $color-black: rgb(21, 28, 37);
$color-black: $color-primary-dark;
$color-grey: adjust-color(lighten($color-primary, 20%), $saturation: -35);
$color-grey-light: adjust-color(lighten($color-primary, 52%), $saturation: -30);
$color-grey-dark: lighten($color-black, 10%);
$color-white: white;

$font-family-headings: "Patua One", sans-serif;
$font-family-main: "Roboto Slab", serif;

$font-size-huge: 60px;
$font-size-xxl: 50px;
$font-size-xl: 36px;
$font-size-lg: 24px;
$font-size-md: 22px;
$font-size-sm: 18px;
$font-size-xs: 16px;

$section-width: 1800px;
$content-width: 1000px;

// media queries
$screen-lg: "only screen and (max-width: 1800px)";
$screen-md: "only screen and (max-width: 1024px)";
$screen-sm: "only screen and (max-width: 723px)";
$screen-xs: "only screen and (max-width: 400px)";

$screen-lg-min: "only screen and (min-width: 1025px)";
$screen-md-min: "only screen and (min-width: 724px)";
$screen-sm-min: "only screen and (min-width: 550px)";
